[mysqld]
# аутентификация для старых клиентских инструментов
default-authentication-plugin=mysql_native_password
# Настройка памяти
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M
innodb_log_buffer_size = 128M

# Настройки соединений
max_connections = 200
thread_cache_size = 50

# Кэширование запросов
query_cache_size = 64M
# максимальный размер результата хранимого в кэше
query_cache_limit = 4M

# Логи
# логирование медленных
slow_query_log = 1
slow_query_log_file = /var/log/mysql-slow.log
# критерий определений медленных в секундах
long_query_time = 2